<h1><%= @place["name"] %></h1>

<h3>Things I did here:</h3>
<ul>
  <% for entry in @entries %>
    <li>
      <strong><%= entry["title"] %></strong> (<%= entry["occurred_on"] %>)<br>
      
      <% if entry.uploaded_image.attached? %>
        <%= image_tag entry.uploaded_image, style: "width: 200px; display: block; margin: 10px 0;" %>
      <% end %>

      <%= entry["description"] %>
    </li>
  <% end %>
</ul>

<hr>

<h3>Add a new log entry</h3>
<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="place_id" value="<%= @place["id"] %>">
  
  <p>
    Title: <input type="text" name="title">
  </p>
  <p>
    Date: <input type="date" name="occurred_on">
  </p>
  <p>
    Description:<br>
    <textarea name="description"></textarea>
  </p>
  <p>
    Upload Image: <input type="file" name="uploaded_image">
  </p>
  <button>Save Entry</button>
</form>